.event {
    padding: 24px 0 80px;

    @include g-md {
        padding-top: 8px;
    }

    @include g-sm {
        padding: 16px 0 64px;
    }
}

.event-container {
    display: flex;
    column-gap: 24px;
}

.event-content {
    width: 66%;

    @include g-sm {
        width: 100%;
    }
}

.breadcrumb {
    display: flex;
    margin-bottom: 8px;

    a {
        color: #000;
    }

    li:last-child {
        a {
            color: $primary;
        }
    }
}

.event-tag {
    display: flex;
    column-gap: 16px;
    margin-bottom: 8px;

    a {
        font-size: 24px;
        font-weight: bold;
        color: $primary;
        @include g-sm{
            font-size: 16px;
        }
    }
}

.event-main {

    h2 {
        font-size: 48px;

        @include g-sm {
            font-size: 24px;
        }
    }

    h3 {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 16px;

        @include g-md {
            margin-bottom: 24px;
        }

        @include g-sm {
            font-size: 16px;
            margin-bottom: 16px;
        }
    }
}

.event-list {
    li {
        margin-bottom: 40px;

        @include g-md {
            margin-bottom: 24px;

            &:last-child {
                margin-bottom: 40px;
            }
        }

        @include g-sm {
            margin-bottom: 16px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    img {
        margin-bottom: 8px;

        @include g-md {
            margin-bottom: 16px;
        }

        @include g-sm {
            margin-bottom: 8px;
        }
    }

    p {
        color: $blog;
    }
}

.event-share {
    display: flex;
    align-items: center;
    column-gap: 16px;

    @include g-sm {
        display: none;
    }

    a {
        font-weight: bold;
        color: #0a0a0a;
    }
}


.tags {
    width: 32%;
    margin-top: 72px;

    @include g-sm {
        display: none;
    }
}

.tags-title {
    display: flex;
    align-items: center;
    color: $primary;
    margin-bottom: 4px;

    span {
        font-size: 40px;
        margin-right: 12px;
        display: block;

        @include g-md {
            font-size: 20px;
            margin-right: 2px;
        }
    }

    h4 {
        font-size: 32px;
        font-weight: bold;

        @include g-md {
            font-size: 16px;
        }
    }
}

.tags-text {

    ul {
        display: flex;
        flex-direction: column;
        row-gap: 4px;

        @include g-md {
            row-gap: 0;
        }
    }

    li a:first-child {
        margin-right: 24px;

        @include g-md {
            margin-right: 16px;
        }
    }

    a {
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        font-weight: bold;
        color: $primary;

        @include g-md {
            font-size: 16px;
        }
    }
}

.event-pag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    padding-top: 24px;
    border-top: 1px solid #707070;

    @include g-sm {
        display: none;
    }
}

.event-pag-text {
    display: flex;
    align-items: center;
    color: #000;

    span {
        display: block;
    }
}

.arrow-back {
    margin-right: 12px;
}

.arrow-next {
    margin-left: 12px;
}