*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

a {
  text-decoration: none;
  transition: opacity .3s ease;

  &:hover {
    opacity: 0.6;
  }
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 1.5;
}